{% extends "layout.html" %}

{% block content %}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Join Today</legend>
                <div>
                    <!-- {{form.username.label(html_attributes)}} -->
                    {{ form.username.label }}
                    {{ form.username }}
                </div>
                <div>
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
                <div>
                    {{ form.password.label }}
                    {{ form.password }}
                </div>
                <div>
                    {{ form.confirm_password.label }}
                    {{ form.confirm_password }}
                </div> 
            </fieldset>
            <div>
                {{ form.submit }}
            </div>
        </form>
    </div>
    <div>
        <small>Already have an account? <a href="{{url_for('login')}}">click here</a></small>
    </div>
{% endblock %}